.slider-section{
  position: relative;
  width: 100%;
}
.slider-item{
  position: relative;
  width: 100%;
  border-radius: 10px;
  img{
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 10px;
    transition: .3s;
  }
  img:hover{
    background: #000;
    opacity: 90%;
    transition: .3s;
  }
}
.menu-left {
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  width: 19.6%;
  min-width: 233px;
  border-radius: 24px;
  position: absolute;
  z-index: 25;
  margin-top: -18px;
}
.top-menu{
  padding: 20px 0;
  background-color: #fff;
}
.scroll-wrapper{
  position: relative;
  height: 100%;
}
.top-menus {
  display: block;
  padding: 0 0 0 24px;
}
.top-menus {
  position: relative;
  margin: 0;
  padding: 0 0 22px 0;
  font-size: 0;
  display: inline-block;
  text-align: justify;
  text-justify: distribute;
}
.top-menus-item.hover {
  background-color: transparent;
}
.top-menus-item.hover {
  background-color: #fff;
  z-index: 47;
}
.top-menus-item {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}
.top-menus-item {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 3px 12px;
  margin: 0 0 6px;
  border-radius: 16px;
  z-index: 46;
}
.hover>a:hover{
  background-color: #cb11ab;
  color: #fff;
  background-size: cover;
  border-radius: 10px;
}
.top-menus-item:hover>a {
  color: #fff;
}
.top-menus-item>a {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 3px 5px 3px 44px;
  text-align: left;
  width: 200px;
}
.man a:before{
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.47%2017.717c-3.033-.56-3.042-1.52-3.042-2.121v-.36c.727-.641%201.287-1.562%201.587-2.642.006%200%20.01.04.017.04.926%200%201.142-1.922%201.142-2.202s.025-1.401-.912-1.401c2.016-5.444-3.326-7.606-7.337-4.804-1.654%200-1.787%202.402-1.179%204.804-.937%200-.899%201.12-.899%201.4%200%20.281.215%202.203%201.142%202.203l.004-.04c.3%201.08.856%202.001%201.578%202.642v.36c0%20.6%200%201.561-3.041%202.121C3.537%2018.237%203%2021%203%2021h18s-.543-2.722-3.53-3.283z%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.8%22%20stroke-miterlimit%3D%2210%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 24px;
  left: 8px;
  position: absolute;
  top: 2px;
  width: 24px;
  z-index: 1;
}
.top-menus-item>a {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  display: block;
  padding-left: 44px;
  z-index: 1;
}
.woman a:before {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.144%207.099c0%205.592%201.259%206.198%202.57%207.499-2.195.563-4.508.693-5.141.65v.65c0%20.65-.12%201.95%203.078%202.601C21%2019.193%2021%2021.75%2021%2021.75H3s.01-2.6%203.16-3.251c3.27-.65%203.269-1.95%203.269-2.6v-.651c-.666.043-2.972-.087-5.144-.65%201.313-1.3%202.573-1.907%202.573-7.5%200%200%200-4.55%203.856-4.55%200%200%206.43-2.038%206.43%204.55z%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.8%22%20stroke-miterlimit%3D%2210%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
}
.woman a:before {
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 24px;
  left: 8px;
  position: absolute;
  top: 2px;
  width: 24px;
  z-index: 10;
}
.kids a:before{
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.853%2011.062h7.171V3.445c0-.245.2-.445.446-.445%202.338%200%204.476.958%206.013%202.494A8.618%208.618%200%200122%2011.508v2.962c0%20.935-.4%201.782-1.002%202.405-.268.267-.58.49-.913.646l.155.156c.424.4.669%201.002.669%201.648%200%20.624-.245%201.225-.668%201.648-.424.401-1.025.668-1.649.668a2.4%202.4%200%2001-1.648-.668%202.363%202.363%200%2001-.69-1.648c0-.557.178-1.047.49-1.447h-6.548c.312.4.49.89.49%201.447%200%20.624-.245%201.225-.668%201.648a2.4%202.4%200%2001-1.648.668%202.4%202.4%200%2001-1.648-.668%202.363%202.363%200%2001-.69-1.648c0-.646.266-1.247.69-1.648.044-.067.089-.111.133-.156a3.145%203.145%200%2001-.89-.646l-.023-.022a3.406%203.406%200%2001-.98-2.383V8.278c0-.378-.156-.735-.423-1.002a1.43%201.43%200%2000-1.025-.423H2.445A.447.447%200%20012%206.408c0-.245.2-.446.445-.446h1.07c.645%200%201.224.267%201.648.69a2.31%202.31%200%2001.69%201.626v2.784zm12.74%206.816h-.023c-.4%200-.735.178-1.002.423a1.43%201.43%200%2000-.423%201.024c0%20.379.156.735.423%201.002a1.43%201.43%200%20001.024.424c.379%200%20.758-.156%201.003-.424.267-.267.423-.623.423-1.002%200-.4-.156-.757-.423-1.024a1.43%201.43%200%2000-1.003-.423zm-10.201%200h-.045c-.4%200-.735.178-1.002.423a1.527%201.527%200%2000-.423%201.024c0%20.379.178.735.423%201.002a1.43%201.43%200%20001.025.424c.4%200%20.757-.156%201.002-.424.267-.267.423-.623.423-1.002%200-.4-.156-.757-.423-1.024a1.418%201.418%200%2000-.98-.423zm-.022-.891H18.615a2.48%202.48%200%20001.737-.735%202.49%202.49%200%2000.735-1.782v-2.495h-7.705l-7.529-.022v2.517c0%20.69.267%201.314.713%201.76l.022.022a2.48%202.48%200%20001.737.735h.045zm5.545-5.925h7.172A7.609%207.609%200%200018.86%206.14a7.606%207.606%200%2000-4.945-2.227v7.15z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 24px;
  left: 8px;
  position: absolute;
  top: 2px;
  width: 24px;
  z-index: 1;
}
.shoos a:before{
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.344%2010.287l.599.458h0l.401.308a3.4%203.4%200%2000.093.068L8.936%209.373m7.408.914a.795.795%200%2001.311-.182l-.454-.348a.788.788%200%2001-.073.324h0l-.014.03m.23.176a.79.79%200%2000-.152.198m.152-.198l-.23-.176m0%200l-.118-.09h0l-.527-.403-.592-.454m1.237.947l-.107.233m-1.13-1.18a.794.794%200%2001.319-.176l-.553-.423a.786.786%200%2001-.046.385m.28.214a.785.785%200%2000-.157.195m.157-.195l-.28-.214m0%200l-.644-.493h0l-.563-.431m1.207.924l1.595%201.535m-2.802-2.46a.795.795%200%2001.36-.144l-3.641-2.787a.459.459%200%2000-.58.02m3.861%202.912L9.906%205.359h0a.125.125%200%2000-.158.005l-.22-.25m3.862%202.912l-4.603.484c-.07.065-.137.136-.204.216m.945-3.613c-.746.654-1.83%202.238-1.184%203.952a.806.806%200%2001.028-.048h0c.068-.107.139-.204.211-.291m.945-3.613l.22.251a4.05%204.05%200%2000-1.079%201.591c-.194.537-.265%201.14-.086%201.77m0%200c.052.184.125.369.223.555l.009.016.121.077m0%200c.038-.06.076-.114.115-.165m-.115.165l.115-.165m.097.165l.192-.12c-.065.07-.128.152-.188.248h0a.124.124%200%2001-.176.046l-.001-.002a.125.125%200%2001-.04-.172h.213zm0%200a.126.126%200%2001.003.128h0l-.003-.128zm.542-.39c-.016.007-.03.015-.046.024-.105.059-.206.14-.303.245l4.002%201.632-.03-.034.03.034.357-.777a.799.799%200%2000-.086-.121M9.69%208.982l.022.037h0a.79.79%200%2001.107.272.74.74%200%2001.31-.089c.672-.046%201.53.607%202.089%201.136l.146-.32M9.69%208.983c.159-.08.304-.104.414-.112h.001c.3-.021.603.063.879.186.278.123.55.296.799.48.21.155.407.322.581.483M9.69%208.982a2.253%202.253%200%2001-.117-.22c.188-.095.367-.13.513-.141h0c.629-.047%201.324.313%201.924.77.17.13.326.262.465.387l-.11.24m0%200c.205.19.378.368.501.506m0%200l-.08.174.132-.115a.125.125%200%2000.177.014h0a.125.125%200%2000.013-.176h0a6.029%206.029%200%2000-.129-.144l-.113.247zm0%200l.053.06-.133.114-.212.463m0%200a.796.796%200%2001-.16-.141h0a4.385%204.385%200%2000-.094-.106l-.29.632m.544-.385c.07.047.147.082.227.104m-.227-.104l-.241.524-.303-.14m0%200a.458.458%200%2000.833.384m-.833-.383l.303.14a.125.125%200%2000.062.165h0a.125.125%200%2000.166-.061h0l.302.139m0%200l.298-.649a.798.798%200%2001-.36-.015m.062.664l-.303-.14.241-.524m0%200l.213-.462.09-.196h0l.138-.301h0l.223-.486m0%200c.073.078.123.137.149.166m-.149-.166a8.351%208.351%200%2000-.186-.195l.186.195zm.149.166l-.253.217.253-.217s0%200%200%200zm3.119.913l-.292.617-.27-.208.562-.409zm0%200l.202.155.066-.139h0a.125.125%200%2000-.059-.166h0a.126.126%200%2000-.166.06s0%200%200%200l-.043.09zm-.54-.414l-.186-.14m.185.14a.827.827%200%2000-.018.037h0l-.129.27L14.69%209.42m1.319.924l-.543-.415m.543.415l-.143.31-.272-.207-.142.31-.272-.207.286-.621m0%200l.057-.126.303.14-.303-.14a.125.125%200%2000-.227-.105h0l-.034.074m.204.157l-.204-.157m0%200l-.293-.223.024.01-.024-.01-.248-.19m.54.413l-.285.622-.271-.208.143-.31-.272-.208.114-.248m.031-.061a.792.792%200%2000-.031.061m.031-.061l-.031.061m-5.99.734a.786.786%200%2000.367.078m-.367-.078c-.458.53-.978.813-1.428.964a3.339%203.339%200%2001-1.029.173l-.068-.001-.02-.001h-.006l-.012-.002h-.012c-.583-.01-1.068-.28-1.394-.8l4.336-.255m-.367-.078a.805.805%200%2001-.08-.045m.08.045l-.08-.045m.447.123C7.88%2011.742%206.2%2011.627%206.12%2011.62c-.699-.011-1.286-.342-1.671-.955-.194-.308-.507-.492-.84-.492h-.074l5.532.059zm-.447-.123a.795.795%200%2001-.128-.1%203.013%203.013%200%2001-2.339%201.03%201.392%201.392%200%2001-1.21-.684h0c-.305-.486-.806-.766-1.333-.766h-.075c-.759%200-1.417.569-1.528%201.32%200%200%200%200%200%200s0%200%200%200l-.435%202.948h.253m6.795-3.748l-6.795%203.748m0%200l.43-2.912h0a1.3%201.3%200%20011.28-1.106h.075c.46%200%20.873.255%201.121.649l-2.906%203.37zm15.265-3.42l.458.351c.044.034.088.066.133.097l-.59-.447zm0%200l-.004.01.004-.01h0zm5.413%205.23l.002-.004h0a.125.125%200%2000-.116-.17h-.071%200H10.098a1.29%201.29%200%2001-.5-.1h0l-1.79-.75s0%200%200%200c-.19-.079-.39-.12-.596-.12H1.725h0-.144a.125.125%200%2000-.095.207v.001a.124.124%200%2000.095.043H7.212c.172%200%20.34.034.5.1l14.79.794zm0%200a.125.125%200%2001-.114.075h-.135%200-12.155c-.206%200-.406-.04-.596-.12h0l-1.79-.748%2014.79.794zM9.051%209.209c.03.055.062.11.096.165l-.096-.165zm9.263%202.627a3.646%203.646%200%2001-.83-.382l.108-.227c.248.157.516.282.798.371l.1-.318-.1.318%202.543.807a2.46%202.46%200%20011.487%201.288c.178.37.26.778.245%201.184a.792.792%200%2000-.246-.05%202.23%202.23%200%2000-.225-1.025%202.217%202.217%200%2000-1.337-1.159s0%200%200%200l-2.543-.807h0zm-4.237-2.549l.271.208.143-.31-.543-.416-.285.621.271.208.143-.31zm.236%203.15s0%200%200%200h0l.303.14-.303-.14zm-.228-.104s0%200%200%200l-.303-.14.303.14zm2.558-.661l-.604%201.276.604-1.276zm-2.672-2.953s0%200%200%200l.303.139-.303-.14zm-.227-.105v-.001l-.531-.407a.796.796%200%2000-.075.13l.303.14-.303-.14-.08.172.272.208-.142.31.271.208.285-.62h0zM1.592%2015.441c-.048.482.103.963.421%201.332h0c.336.388.824.612%201.338.612h16.67a2.24%202.24%200%20001.849-.976h.296a2.488%202.488%200%2001-2.145%201.226H3.35a2.015%202.015%200%2001-1.527-.7h0a2.014%202.014%200%2001-.48-1.53.795.795%200%2000.237.036h.011z%22%20fill%3D%22%23A7A7A7%22%20stroke%3D%22%23A7A7A7%22%20stroke-width%3D%22.667%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 24px;
  left: 8px;
  position: absolute;
  top: 2px;
  width: 24px;
  z-index: 1;
}
.accessories a:before{
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M18.753%2011.909H6.108c-.627%200-1.134.508-1.134%201.134v6.85c0%20.626.507%201.133%201.134%201.133h12.645c.626%200%201.134-.507%201.134-1.134v-6.85c0-.625-.508-1.133-1.134-1.133zm-12.645-.974A2.107%202.107%200%20004%2013.043v6.85C4%2021.055%204.944%2022%206.108%2022h12.645a2.108%202.108%200%20002.108-2.108v-6.85a2.108%202.108%200%2000-2.108-2.107H6.108z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3Cpath%20d%3D%22M13.04%2010.957V2.448A.45.45%200%200113.49%202h4.974a.45.45%200%2001.448.448v8.51h-.896V2.85h-4.123v1.703h1.08a.45.45%200%2001.448.449.45.45%200%2001-.448.448h-1.08v1.434h2.236a.45.45%200%2001.448.448.45.45%200%2001-.448.448h-2.236v1.39h1.08a.45.45%200%2001.448.447.45.45%200%2001-.448.449h-1.08v.89h-.852z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.608%2010.957l-.006-5.036a.467.467%200%2000-.049-.206L8.765%202.246A.45.45%200%20008.366%202a.45.45%200%2000-.399.246L6.175%205.711a.466.466%200%2000-.05.206l-.006%205.04h.896l.007-4.61h2.684l.004%204.61h.898zM9.419%205.451L8.366%203.41l-1.053%202.04H9.42z%22%20fill%3D%22%23A7A7A7%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 24px;
  left: 8px;
  position: absolute;
  top: 2px;
  width: 24px;
  z-index: 1;
}
.header-with-burger .menu-right {
  -webkit-box-shadow: 15px 0 20px rgba(0,0,0,.1);
  box-shadow: 15px 0 20px rgba(0,0,0,.1);
  position: relative;
  width: calc(100% - 19.6%);
  border-radius: 0 24px 24px 0;
}
.header-with-burger .i-tinyscrollbar-topmenus {
  padding: 20px 0;
  background-color: #fff;
}
.header-with-burger .menu-right:before {
  left: 0;
  top: 20px;
  bottom: 20px;
  width: 2px;
  border-radius: 2px;
  background-color: #e8e8e8;
}
.header-with-burger .container-col-3 {
  position: relative;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  padding: 0 30.5% 0 36px;
}
.header-with-burger .container-col-3 .dropdown-item {
  position: static;
  padding: 0;
}
.header-v1 .dropdown-item.active {
  display: block;
}


.scroll-content .hiddenSubMenu{
  position: absolute;
  top: 0;
  padding: 0 0 0 50px;
  left: 223px;
  height: 300px;
  width: calc(100% - 233px);
  overflow-y: auto;
  background: #fff;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.scroll-content .hiddenSubMenu .hiddenSubMenu-list{
  width: 22%;
  margin: 10px auto;
}
.scroll-content .hiddenSubMenu .block-category{
  float: right;
  max-width: 34%;
  object-fit: cover;
}
.scroll-content .top-menus .linkTo:hover > .scroll-content .hiddenSubMenu{
  display: flex;
}












.slider-section:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  top: -18px;
  background: #fff;
}
.container{
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
}
.image-slider{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  width: 1440px;
  height: 370px;
  background: rgb(0, 0, 0);
}
.slick-next:before, .slick-prev:before{
  color: #00000057;
  font-size: 40px;
}
.slick-next{
  right: 25px;
}
.slick-prev{
  left: 5px;
}
.slick-next, .slick-prev{
  position: absolute;
  z-index: 5;
  width: 35px;
  height: 35px;
}

